MISTRAL_MODEL_NAME=squeeze-ai-lab/sq-mistral-7b-instruct-w4-s0
MISTRAL_URL=http://localhost:55559/v1
MISTRAL_KEY=sk-myscretkey

#ENABLE_LANGFUSE=1 # Uncomment this to enable langfuse
LANGFUSE_SK=sk-lf-1234567890
LANGFUSE_PK=pk-lf-1234567890
LANGFUSE_HOST=http://localhost:3000

API_KEY=super-secret-change-me

DEBUG=True

RESULT_SUMMARIZE_MODEL=gpt-4
